html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  overflow: hidden;
}

.home {
  height: 100%;
}

#___gatsby {
  height: 100%;
}
#___gatsby > * {
  height: 100%;
}

#test-canvas {
  width: 100%;
  height: 100%;
}

.page {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}

.page-content {
  height: 400px;
  width: 400px;
  max-width: calc(90% - 4rem);
  max-height: calc(90% - 4rem);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  border-radius: 4px;
  border: 1px solid black;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}
